<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Dashbaord</h1>
  <form action="/dashboard" method="POST" enctype="multipart/form-data">

    <input type="file" name="sampleFile" id="file" />

    <!-- <img src="" alt="Uploadedfile" > -->
    <button type="submit">Upload</button>
  </form>

  <script>

// const upload = document.querySelector('#file');
// const img = document.querySelector('img');


// upload.addEventListener('change',function() {
//   const preview = document.querySelector("img");
//   const file = document.querySelector("input[type=file]").files[0];
//   const reader = new FileReader();

//   reader.addEventListener(
//     "load",
//     () => {
//       preview.src = reader.result;
//     },
//     false,
//   );

//   if (file) {
//     reader.readAsDataURL(file);
//   }
// })
  </script>
</body>
</html>